@font-face {
    font-family: "iconfont"; /* Project id 1627373 */
    src: url('//at.alicdn.com/t/font_1627373_e5wjnt7yjec.woff2?t=1640170529925') format('woff2'),
         url('//at.alicdn.com/t/font_1627373_e5wjnt7yjec.woff?t=1640170529925') format('woff'),
         url('//at.alicdn.com/t/font_1627373_e5wjnt7yjec.ttf?t=1640170529925') format('truetype'),
         url('//at.alicdn.com/t/font_1627373_e5wjnt7yjec.svg?t=1640170529925#iconfont') format('svg');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .iconyanzhengma1:before {
    content: "\e603";
  }
  
  .iconshouji:before {
    content: "\e604";
  }
  
  .iconphone:before {
    content: "\e63b";
  }
  
  .iconyanzhengyanzhengma:before {
    content: "\e624";
  }
  
  .iconyanzhengma:before {
    content: "\e60c";
  }
  
  .iconpass:before {
    content: "\e602";
  }
  
  .iconuser:before {
    content: "\e6b2";
  }
  
  .iconuser1:before {
    content: "\e625";
  }
  
  .iconpassword:before {
    content: "\e606";
  }
  
  .iconeditor:before {
    content: "\e6f6";
  }
  